<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Location</ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <ion-list radio-group [(ngModel)]="order.route.routetype">
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-radio value="oneway" checked></ion-radio>
          <ion-label>เที่ยวเดียว : </ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-radio value="roundtrip"></ion-radio>
          <ion-label>ไป-กลับ : </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <!-- One Way -->
  <div *ngIf="order.route.routetype == 'oneway'">
    <ion-item>
      <ion-label stacked color="primary">จุดรับ : </ion-label>
      <ion-input type="text" [(ngModel)]="order.route.reception.item"></ion-input>
      <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">จุดส่ง : </ion-label>
      <ion-input type="text" [(ngModel)]="order.route.send.item"></ion-input>
      <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap()"></ion-icon>
    </ion-item>
  </div>

  <!-- Roundtrip -->
  <div *ngIf="order.route.routetype == 'roundtrip'">
    <ion-item>
      <ion-label stacked color="primary">จุดรับ : </ion-label>
      <ion-input type="text" [(ngModel)]="order.route.reception.item"></ion-input>
      <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">โรงเรียน : </ion-label>
      <ion-input type="text" [(ngModel)]="order.route.school.item"></ion-input>
      <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap()"></ion-icon>
    </ion-item>
    <ion-item>
      <ion-label stacked color="primary">จุดส่ง : </ion-label>
      <ion-input type="text" [(ngModel)]="order.route.send.item"></ion-input>
      <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap()"></ion-icon>
    </ion-item>
  </div>
  <div padding>
    <button ion-button round block color="yellows" (click)="createOrder()">Confirm</button>
  </div>

  <p>{{order.image}}</p>
  <p>{{order.name}}</p>

</ion-content>
