<!--
  Generated template for the LocationPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Select Location</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-list radio-group [(ngModel)]="order.route.routetype">
    <ion-row>
      <ion-col col-6>
        <ion-item>
          <ion-radio value="oneway" checked></ion-radio>
          <ion-label>เที่ยวเดียว : </ion-label>
        </ion-item>
      </ion-col>
      <ion-col col-6>
        <ion-item>
          <ion-radio value="roundtrip"></ion-radio>
          <ion-label>ไป-กลับ : </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
  </ion-list>
  <ion-list *ngIf="order.route.reception.item || order.route.send.item || order.route.school.item" radio-group [(ngModel)]="order.route.routetype">
      <ion-row>
        <ion-col col-6>
          <ion-item>
            <ion-radio value="oneway" checked></ion-radio>
            <ion-label>เที่ยวเดียว : </ion-label>
          </ion-item>
        </ion-col>
        <ion-col col-6>
          <ion-item>
            <ion-radio value="roundtrip"></ion-radio>
            <ion-label>ไป-กลับ : </ion-label>
          </ion-item>
        </ion-col>
      </ion-row>
    </ion-list>
  <!-- One Way -->
  <div *ngIf="order.route.routetype == 'oneway'">
    <ion-list>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked color="primary">จุดรับ : </ion-label>
            <ion-input type="text" [(ngModel)]="order.route.reception.item"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-fab mini (click)="goToMap('receiver')">
            <ion-icon item-right ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          <!-- <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap('receiver')"></ion-icon> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked color="primary">จุดส่ง : </ion-label>
            <ion-input type="text" [(ngModel)]="order.route.send.item"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-fab mini (click)="goToMap('sender')">
            <ion-icon item-right ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          <!-- <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap('sender')"></ion-icon> -->
        </ion-col>
      </ion-row>
    </ion-list>
  </div>

  <!-- Roundtrip -->
  <div *ngIf="order.route.routetype == 'roundtrip'">
    <ion-list>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked color="primary">จุดรับ : </ion-label>
            <ion-input type="text" [(ngModel)]="order.route.reception.item"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-fab mini (click)="goToMap('receiver')">
            <ion-icon item-right ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          <!-- <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap('receiver')"></ion-icon> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked color="primary">โรงเรียน : </ion-label>
            <ion-input type="text" [(ngModel)]="order.route.school.item"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-fab mini (click)="goToMap('school')">
            <ion-icon item-right ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          <!-- <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap('school')"></ion-icon> -->
        </ion-col>
      </ion-row>
      <ion-row>
        <ion-col col-9>
          <ion-item>
            <ion-label stacked color="primary">จุดส่ง : </ion-label>
            <ion-input type="text" [(ngModel)]="order.route.send.item"></ion-input>
          </ion-item>
        </ion-col>
        <ion-col col-3>
          <button ion-fab mini (click)="goToMap('sender')">
            <ion-icon item-right ios="ios-pin" md="md-pin"></ion-icon>
          </button>
          <!-- <ion-icon color="danger" item-right ios="ios-pin" md="md-pin" (click)="goToMap('sender')"></ion-icon> -->
        </ion-col>
      </ion-row>
    </ion-list>
  </div>
  <div padding>
    <button [disabled]="order.route.routetype === 'oneway' ? order.route.send.item === '' || order.route.reception.item === '' : order.route.routetype === 'roundtrip' ? order.route.send.item === '' || order.route.reception.item === '' || order.route.school.item === '': true"
      ion-button round block color="yellows" (click)="confirm()">Confirm</button>
  </div>

  <!-- <p>{{order.image}}</p>
  <p>{{order.name}}</p> -->

</ion-content>