page-feed {
    [imgstyle]{
        width: 200px;
        height:250px ;
    }
    .slide-zoom{
        text-align: -webkit-center;
        
    }
    [imgSize]{
        width: 50vw;
        // height:150px ;
      
    }
  
}
