ion-app.md {
  walkthrough-page {
    .walkthrough-header {
      &::after {
        background: none;
      }
    }
    .walkthrough-content {
      .button-bar {
        background: #ffff;
        border-radius: 6px;
        &>.button {
          box-shadow: none;
        }
      }
    }
  }
}
